body {
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;
}

* {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
}

button {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    color: black;
    font-size: 0.8rem;

}

#container {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "nav main main" "nav main main" "nav footer footer";
    grid-template-columns: 12rem 2fr 2fr;
    grid-template-rows: 10fr 10fr 1fr;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

nav {
    grid-area: nav;
    background-color: #9D2121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
}

.navItem {
    padding: 1rem;
    background-color: #9D2121;
    border-top: thin solid black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#mainArea {
    grid-area: main;
    background-image: url(../bilder/lager.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    
    
    

}

#mainArea > * {
    background-color: #4a4a4af5 ;
}

header {
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid black;
    
    
    
}

header h1 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2.5rem;
    text-align: start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 10%;
}

header h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 20%;
}

header p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    text-align: start;
    
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    
}


aside p {
    text-align: center;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

aside img {
    max-height: 25%;
    max-width: 80%;
    height: auto;
    width: auto;
}


footer {
    grid-area: footer;
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    border-top: black 1px solid;
}

footer div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

footer div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a img {
    width: 2rem;
    height: 2rem;
}


@media (max-width: 874px) {
    #container {
        display: grid;
        grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 30% auto 5%;
        width: 100%;
    }

    header{
        height: 100%;
    }

    header h1 {
        font-size: 2rem;
    }

    aside {
        height: 100%;
        justify-content: space-evenly;
    }

    aside p {
        height: 45%;
    }

    header p {
        height: auto;
    }

    
}