body {
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;
}

* {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "nav main main" "nav main main" "nav footer footer";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
}

nav {
    grid-area: nav;
    background-color: #9D2121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: thin solid black;
}

#navItem {
    padding: 1rem;
    background-color: #9D2121;
    color: white;
    border-top: thin solid black;
    border-bottom: thin solid black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainArea {
    grid-area: main;
    background-image: url(../bilder/lager.jpg);
}

footer {
    grid-area: footer;
    background-color: #4A4A4A;
}

a img {
    width: 2rem;
    height: 2rem;
}